.clear {
	clear: both;
}

#configNavi {
	float: left;
}

#configNavi ul {
	list-style: none;
}

#configNavi li {
	padding: 10px 5px 10px 20px;
}

#configNavi li.selected {
	background-color: #ffcb05;
}

#configNavi li.validated {
	background-image: url('valid.png');
	background-repeat: no-repeat;
	background-position: left center;
}

//
#configNavi li:hover { //
	background-color: ffe880;
	//
}

.section {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

.requiered {
	color: #DC0067;
}

.help {
	margin: 10px 0 20px 0;
}

.tile {
	float: left;
	width: 226px;
	margin: 20px;
}

.tile a.decision {
	border: 3px solid #DC0067;
	padding: 10px;
	border-radius: 20px;
	width: 150px;
	display: inline-block;
	text-align: center
}

a .tile,a:hover .tile {
	color: #000000;
}

.tile a:hover {
	background-color: #ffe880;
}